/* Centrage de la page  */
* { box-sizing: border-box; }
html, body { height: 100%; }

body{
  margin: 0;
  display: grid;
  place-items: center;
  gap: 16px;
  background: #f5f6f8;
  color: #111;
  filter: drop-shadow(20px 10px 4px hsl(0, 0%, 50%)); 
}
/* Pizza  */
.pizza{
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 24px solid #FF8C00;
             
  background:   

    /* pepperoni  */
    radial-gradient(circle at 14% 62%, #a9261d 0 16px, transparent 17px),
    radial-gradient(circle at 80% 25%, #a9261d 0 14px, transparent 15px),
    radial-gradient(circle at 52% 49%, #a9261d 0 19px, transparent 20px),
    radial-gradient(circle at 80% 80%, #a9261d 0 14px, transparent 15px),
    radial-gradient(circle at 21% 18%, #a9261d 0 14px, transparent 15px),
    radial-gradient(circle at 50% 13%, #a9261d 0 16px, transparent 17px),
    radial-gradient(circle at 40% 90%, #a9261d 0 14px, transparent 15px),
    radial-gradient(circle at 90% 50%, #a9261d 0 16px, transparent 17px),

    /* olives noir */
    radial-gradient(circle at 29% 42%, transparent 0 4px, #2a2a2a 5px 12px, transparent 13px),
    radial-gradient(circle at 65% 69%, transparent 0 4px, #2a2a2a 5px 12px, transparent 13px),
    radial-gradient(circle at 33% 69%, transparent 0 4px, #2a2a2a 5px 12px, transparent 13px),
    radial-gradient(circle at 75% 40%, transparent 0 4px, #2a2a2a 5px 12px, transparent 13px),
    radial-gradient(circle at 50% 30%, transparent 0 4px, #2a2a2a 5px 12px, transparent 13px),
   
    /* olives verte */
    radial-gradient(circle at 10% 40%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 69% 15%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 60% 88%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 89% 65%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 35% 15%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 85% 38%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    radial-gradient(circle at 25% 79%, transparent 0 4px, #008000 5px 12px, transparent 13px),
    
    /* base fromage */
    #ffd56a;
  
 }

/* Assiette  */
.pizza::before{
  content: "";
  position: absolute;
  inset: -40px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 55%, #a31010 0 56%, #a31010 57% 100%);
  box-shadow: 0 24px 48px rgba(0,0,0,.2), inset 0 2px 0 #000;
  z-index: -1;
  
}
